<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <head>
            <title>Maple</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->

            <!-- cash dom -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.4/cash.min.js"></script>
            <!-- axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        </head>
    </th:block>
</html>