<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headerFragment">
        <head>
            <title>Maple</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->

            <!-- cash dom -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.4/cash.min.js"></script>
            <!-- axios -->
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

            <!-- 공통 분모 -->
            <h2><a href="/" style="text-decoration: none; color:rosybrown">나만의 메이플 사이트</a></h2>

            <script src="/scripts/search.js"></script>
            <p>검색할 캐릭터 닉네임을 입력하세요 : <input type="text" id="name"> <input type="button" value="검색" onclick="fnSearch()"></p>
        </head>
    </th:block>
</html>